@import url("https://diettuty.onrender.com/assets/css/master.css");

body {
    background-color: white;
}

.box {
	margin: 1em 0;
    display: block;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    opacity: 0.9;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.box:hover::before {
    background-color: rgba(95, 158, 160, 0.6); /* Darker overlay on hover */
    transition: background-color 0.5s ease;
}

.box-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff; /* Ensure the text is bright */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Stronger text shadow for more clarity */
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background behind text */
    padding: 10px 20px; /* Padding to give some space around the text */
    border-radius: 5px; /* Rounded corners for the text box */
}

/* Dark overlay over the background image */
.box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 73, 101, 0.9); /* Initial dark overlay over the image */
    z-index: 1;
}

.box h2 {
    position: relative;
    z-index: 20;
    opacity: 1;
    color: white;
}

/* Add random images for now */
.box:nth-child(1) {
    background-image: url('D:/Downloads/Brave-Studies/DIET-images/PSTE.jpeg');
}

.box:nth-child(2) {
    background-image: url('D:/Downloads/Brave-Studies/DIET-images/PSTE.jpeg');
}

.box:nth-child(3) {
    background-image: url('D:/Downloads/Brave-Studies/DIET-images/PSTE.jpeg');
}

.box:nth-child(4) {
    background-image: url('D:/Downloads/Brave-Studies/DIET-images/PSTE.jpeg');
}

.box:nth-child(5) {
    background-image: url('D:/Downloads/Brave-Studies/DIET-images/PSTE.jpeg');
}

.box:nth-child(6) {
    background-image: url('D:/Downloads/Brave-Studies/DIET-images/PSTE.jpeg');
}

.box:nth-child(7) {
    background-image: url('D:/Downloads/Brave-Studies/DIET-images/PSTE.jpeg');
}
