@import url("https://diettuty.onrender.com/assets/css/master.css");


.tab-content {
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #ffffff;
}

.image-upload-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border: 2px dashed #ccc;
    position: relative;
}

.image-upload {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.image-upload-prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.image-preview {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    display: none;
}
